<div>
<br>
	<h3><b>Update Customer</b></h3><br>
	<div class="form-group">
		<form>
			Name: <input type="text" ng-model="currentCustomer.name" class="form-control"> <br>
			Email: <input type="email" ng-model="currentCustomer.email" class="form-control"> <br> 
			Phone: <input type="text" ng-model="currentCustomer.phone" class="form-control"> <br>
			Street: <input type="text" ng-model="currentCustomer.address.street" class="form-control"><br>
			City: <input type="text" ng-model="currentCustomer.address.city" class="form-control"><br>
			State: <input type="text" ng-model="currentCustomer.address.state" class="form-control"><br>
			Zip: <input type="text" ng-model="currentCustomer.address.zip" class="form-control"><br>
			<button type="button" ng-click='doUpdate(currentCustomer)' class="btn btn-primary">Submit</button>

		</form>
	</div>
</div>